# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=dDRX5I0WxYJCSqvJsbGb8w==,XA7+HLpVuoMDrUafPUXrMw==,+WmxvuMgBUMlK8hiObZ7uA==,rYkGnjIVt/YjM41OiHrxZA==
API_TOKEN_SALT=eO/3LF6vkTswNXS3EYPkaA==
ADMIN_JWT_SECRET=Rv07oQKZorXcpvDmEygsBA==
TRANSFER_TOKEN_SALT=oIQqEiabl+5Rob+JHM9C7A==
ENCRYPTION_KEY=irSPM604uGUgXgo1NnCx1A==
JWT_SECRET=MX5XJYuqupXHo71utyEjeA==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db

# Objects Storage
CF_ACCESS_KEY_ID=
CF_ACCESS_SECRET=
CF_ENDPOINT=
CF_BUCKET=
CF_PUBLIC_ACCESS_URL=